---
import projects from "../data/projects.json";
---

<main class="cards_container">
  {
    projects.map((data) => (
      <a href={data.url} target="_blank" rel="noopener noreferrer" class="card">
        <video class="video-background" autoplay loop muted playsinline>
          <source src={data.video} type="video/mp4" />
          Tu navegador no soporta videos.
        </video>
      </a>
    ))
  }
</main>
